fastapi
uvicorn[standard]
python-multipart
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
pillow
opencv-python-headless==4.10.0.84
numpy